<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
	<add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
	<add key="offline-packages" value=".offline-packages" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget">
      <package pattern="*" />
	  <package pattern="Microsoft.Build.Tasks.Git" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.Build.*" />
	  <package pattern="Microsoft.Build" />
      <package pattern="Microsoft.NET.StringTools" />
    </packageSource>
  </packageSourceMapping>
  
  <disabledPackageSources />
</configuration>
